<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lkl.mapper.CommentMapper">

    <resultMap id="BaseResultMap" type="com.lkl.domain.Comment">
            <id property="commentid" column="commentID" jdbcType="INTEGER"/>
            <result property="userid" column="userID" jdbcType="INTEGER"/>
            <result property="newsid" column="newsID" jdbcType="INTEGER"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="commenttime" column="commentTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        commentID,userID,newsID,
        content,commentTime
    </sql>
    <insert id="addcollection">
        insert into favorite (userID, newsID, favoriteTime) values (#{userID},#{newsID},NOW())
    </insert>

    <insert id="addlike">
        insert into likes (userID, newsID, likeTime) values (#{userID},#{newsID},NOW())
    </insert>

    <insert id="addComment">
        insert into comment (userID, newsID, content,commentTime) values (#{userID},#{newsID},#{content},NOW());
    </insert>

    <delete id="delcollection">
        delete from favorite where userID = #{userID} and newsID = #{newsID}
    </delete>
    <delete id="dellike">
        delete from likes where userID = #{userID} and newsID = #{newsID}
    </delete>


    <select id="getCommentById" resultType="java.util.Map">
        select c.content,c.commentTime,u.username,ui.avatar from comment c
            left outer join user u on c.userID = u.userID
            left join user_info ui on u.userID = ui.userID
        where newsID = #{newsID}
    </select>

</mapper>
