<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lkl.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.lkl.domain.User">
            <id property="userid" column="userID" jdbcType="INTEGER"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="registrationtime" column="registrationTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        userID,username,password,
        email,registrationTime
    </sql>
    <insert id="addUserInfo">
        INSERT INTO user_info (userID, avatar,creationTime)
        VALUES (#{userId}, "/static/bendi/QQ图片20240120130608.jpg", NOW());
    </insert>

    <select id="selectByEmailUser" resultType="com.lkl.domain.User">
        select * from user where email = #{emial}
    </select>

    <select id="addUserByEmail" resultType="integer">
        INSERT INTO user (username, password, email, registrationTime)
        VALUES ("追风少年", #{password}, #{email}, NOW());
    </select>

    <select id="loginByEmail" resultType="map">
        select u.userID from user u where email = #{email} and password = #{password}
    </select>

    <select id="getUserByEmail" resultType="java.lang.Integer">
        select count(*) from user where email = #{email}
    </select>

    <select id="getUserId" resultType="java.lang.Integer">
        select userID from user where email = #{email}
    </select>


</mapper>
