
@font-face {
  font-family: 'iconfont';  /* Project id 4293182 */
  src: url('//at.alicdn.com/t/c/font_4293182_cl5gdr51oqq.woff2?t=1697697928221') format('woff2'),
       url('//at.alicdn.com/t/c/font_4293182_cl5gdr51oqq.woff?t=1697697928221') format('woff'),
       url('//at.alicdn.com/t/c/font_4293182_cl5gdr51oqq.ttf?t=1697697928221') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jisuanqi:before {
  content: "\e642";
}

.icon-dubao:before {
  content: "\e643";
}

.icon-shoucangjia:before {
  content: "\e645";
}

.icon-tianqi:before {
  content: "\e646";
}

.icon-yinle:before {
  content: "\e647";
}

.icon-chongwu:before {
  content: "\e640";
}

.icon-biaoqian:before {
  content: "\e641";
}

.icon-huiyuanzhongxin:before {
  content: "\e61f";
}

.icon-yuebao:before {
  content: "\e63a";
}

.icon-tuiguang:before {
  content: "\e662";
}

.icon-jifen:before {
  content: "\e65e";
}

.icon-zhuye:before {
  content: "\e644";
}

.icon-tuwenliebiao:before {
  content: "\e880";
}

.icon-cam_card:before {
  content: "\e692";
}

